1) Create a DB with doctor and doctor ID & patients visited.

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
db = mydb.cursor()
db.execute("CREATE TABLE hospital (doctor_name VARCHAR(225), doctor_id INT, patients_visited INT)")

In [6]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
db = mydb.cursor()
sql = "INSERT INTO hospital (doctor_name, doctor_id, patients_visited) VALUES (%s, %s, %s)"
val = [("Dr.Niraj", 1005, 5),
       ("Dr.Ramesh", 1006, 4),
       ("Dr.Rahul", 1007, 0),
       ("Dr.Ranu", 1008, 7),
       ("Dr.Gauri", 1009, 0),
       ("Dr.Rohit",1010, 2),
       ("Dr.Niharika", 1002, 8),
       ("Dr.Rani", 1003, 4),
       ("Dr.Siddharth", 1004, 2),
       ("Dr.Harshal", 1001, 9)
      ]
db.executemany(sql, val)

mydb.commit()

print(db.rowcount, "was inserted.")

10 was inserted.

2)  Get the doctor(s) who have more than 5 patients visited.

In [8]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
db = mydb.cursor()
sql = "SELECT * FROM hospital WHERE patients_visited > 5"
db.execute(sql)
myresult = db.fetchall()
for x in myresult:
    print(x)

('Dr.Ranu', 1008, 7)
('Dr.Niharika', 1002, 8)
('Dr.Harshal', 1001, 9)

3)  Get the doctors with no patients visit.

In [7]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
db = mydb.cursor()
sql = "SELECT * FROM hospital WHERE patients_visited = 0"
db.execute(sql)
myresult = db.fetchall()
for x in myresult:
    print(x)

('Dr.Rahul', 1007, 0)
('Dr.Gauri', 1009, 0)