1. Create an Excel with data of Student
database and add all the values which is
required for student management database,
Read the excel file and add the datas into
a DB (using script)

In [1]:
import openpyxl

In [2]:
path = "Student.xlsx"
wb_obj = openpyxl.load_workbook(path)
sheet_obj = wb_obj.active
cell_obj = sheet_obj.cell(row = 3, column = 2)
print(cell_obj.value)

Ravinder

In [3]:
for i in range(1,9):
    cell_obj = sheet_obj.cell(row = 3, column = i)
    print(cell_obj.value)

2
Ravinder
Mech
7
8.9
7.7
8.9
ravinder@gmail.com

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Prathu@123",
)

mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000018176EF7220>

In [5]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Students_Management_System")

In [7]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Prathu@123",
  database="Students_Management_System"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE student3 (Roll_no INT(10),NAME VARCHAR(255),Branch VARCHAR(255), Semester1 INT(25),Semester2 INT(25),Semester3 INT(25),Semester4 INT(25) ,Email VARCHAR(255))")

In [8]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
    print(value)

('student3',)

In [9]:
cur= mydb.cursor()
cur.execute("SELECT * FROM student3")
for row in cur:
    print(row)

In [10]:
import pandas as pd

df = pd.read_excel('Student.xlsx')

In [11]:
import xlrd
import MySQLdb

In [12]:
xl_sheet = xlrd.open_workbook("Student.xlsx")
xl_sheet

In [13]:
sheet_name = xl_sheet.sheet_names()
sheet_name

['Sheet1', 'Sheet2', 'Sheet3']

In [14]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Prathu@123",
  database="students_management_system"
)

cur = mydb.cursor()
for s in range(0,1):
    sheet=xl_sheet.sheet_by_index(s)
    sql= "INSERT INTO student3(Roll_no,NAME,Branch,Semester1, Semester2 , Semester3, Semester4, Email) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
    for r in range(1,sheet.nrows):
        Roll_no =sheet.cell(r,0).value
        NAME =sheet.cell(r,1).value
        Branch =sheet.cell(r,2).value
        Semester1 =sheet.cell(r,3).value
        Semester2 =sheet.cell(r,4).value
        Semester3 =sheet.cell(r,5).value
        Semester4 =sheet.cell(r,6).value
        Email=sheet.cell(r,7).value
        values =(Roll_no ,NAME,Branch ,Semester1,Semester2 ,Semester3,Semester4 ,Email)
        
        cur.execute(sql,values)
mydb.commit()

In [15]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student3")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Sonal', 'CSE', 9, 7, 8, 9, 'sonal@gmail.com')
(2, 'Ravinder', 'Mech', 7, 9, 8, 9, 'ravinder@gmail.com')
(3, 'Simran', 'EE', 9, 8, 7, 7, 'simran@gmail.com')
(4, 'Preeti', 'EE', 9, 9, 9, 9, 'preeti@gmail.com')
(5, 'Monalisa', 'ETC', 7, 7, 8, 9, 'monalisa@gmail.com')
(6, 'Sanket', 'CSE', 9, 9, 7, 7, 'sanket@gmail.com')
(7, 'Sanjay', 'Mech', 8, 6, 9, 7, 'sanjay@gmail.com')
(8, 'Raj', 'ETC', 8, 9, 7, 6, 'raj@gmail.com')
(9, 'Harshal', 'Mech', 7, 8, 10, 9, 'harshal@gmail.com')
(10, 'Raviraj', 'CSE', 9, 9, 9, 8, 'raviraj@gmail.com')

In [16]:
mycursor = mydb.cursor()

sql ="SELECT NAME FROM student3 WHERE Branch = 'Mech'"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ravinder',)
('Sanjay',)
('Harshal',)