1) Create a connection for DB and print the version using a python program.

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
cursor = mydb.cursor()
cursor.execute("SELECT VERSION()")
data = cursor.fetchone()
print ("Database version : %s " % data)

Database version : 8.0.25

2) Create a multiple tables & insert data in table.

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
db = mydb.cursor()
db.execute("CREATE TABLE customers (Customer_id INT, Order_number INT)")

In [7]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
db = mydb.cursor()
sql = "INSERT INTO customers (Customer_id, Order_number) VALUES (%s,%s)" 
val = ("100","40685")
db.execute(sql, val)
mydb.commit() 
print(db.rowcount, "record inserted.")

1 record inserted.

In [8]:
db = mydb.cursor()
sql = "INSERT INTO customers (Customer_id, Order_number) VALUES (%s, %s)"
val = ("145","44585")
db.execute(sql, val)
mydb.commit() 
print(db.rowcount, "record inserted.")

1 record inserted.

3) Create a employee table and read all the employee name in the table using for loop.

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="Prathu@123",
    database="mydatabase"
)
dbse = mydb.cursor()
dbse.execute("CREATE TABLE employee (Employee_name VARCHAR(255), Employee_address VARCHAR(255))")
my = mydb.cursor()
sql = "INSERT INTO employee (Employee_name, Employee_address) VALUES (%s,%s)" 
val =[ ("Thomas", "Mumbai"),
      ("John", "Delhi"),
      ("Mohit", "Mumbai"),
      ("Rohit","Nagpur")
     ]
my.executemany(sql, val)
mydb.commit() 
print(my.rowcount, "record inserted.")

4 record inserted.

In [3]:
db = mydb.cursor()
db.execute("SELECT employee_name FROM employee")
myresult = db.fetchall()
for x in myresult:
    print(x)

('Thomas',)
('John',)
('Mohit',)
('Rohit',)